body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;    
    /* overflow property stops the white space "bounce" effect when scrolling to the top and bottom of page  */
    color: white;
    font-family: 'Rubik', sans-serif;
}

html {
    overflow: hidden;
    /* overflow property stops the white space "bounce" effect when scrolling to the top and bottom of page  */
}


/* Main grid layout */
.main-container {
    display: grid;
    grid-template-areas:
    "left-menu main" 
    "footer footer" ;

    grid-template-columns: 195px 1fr;
    grid-template-rows: 1fr 90px ;
    height: 100vh;
}

.left-menu {
    grid-area: left-menu;
    background-color: black;
    position: fixed;
    width: 195px;  
    height: 900px;

    /* position: sticky;
    bottom: 0; */ 
}

.main-feed {
    grid-area: main;

    background-color: #121212;
}

.footer {
    grid-area: footer;
    display: grid;
    position: sticky;
    bottom: 0;
    height: 90px;

    background-color: #181818;
}
/* End of main grid layout */


/* Left menu  */
#logo {
   display: grid;
    grid-template-rows: 60px;
    grid-template-columns: repeat(2, 50px);
    margin: 20px 25px;
}

.fa-spotify {
    font-size: 40px;
}

#logo h1 {
    position: relative;
    top: -14px;
    left: -6px;
    font-size: 25px;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}


.menu-list {
    margin-top: -20px;
}

.menu-list li {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-left: -10px;
    width: 80%;
    height: 45px;

     /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* grid-gap: 10px; */
}

.menu-list li:nth-child(1) {
    border-left: 3px solid green;
}

.menu-list .list-item-greyed {
    opacity: .5; 
}

.menu-list .list-item-greyed:hover,
.playlist:hover
 {
    opacity: 1;
    transition: .4s;  
}

.menu-list img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;

    margin-right: 20px;
}

.playlist {
    margin-top: 40px;
    width: 100%;
    opacity: .5;
    list-style: none;
    font-size: 12px;
    margin-left: -10px;
    position: relative;
    height: 10px;

    /* border: 2px solid red; */
}



/* Manually created the 'add playlist icon' */
.fa-plus {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 2px;
    margin-right: 20px;
}

.fa-heart {
    background: linear-gradient(#6542F0, #A6B8E1);
    color: white;
    padding: 10px;
    border-radius: 2px;
    margin-right: 20px;
}

 #playlist-hr {
    margin-left: -10px;
    margin-top: 50px;
    width: 90%;
    opacity: .5;
}

.playlist p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 100;
    opacity: 1;
    margin-top: -20px;
}

.bottom {
    margin-bottom: 70px;
}

.install-app li:nth-child(1) {
    opacity: .5;
}


.profile {
    width: 30px;
    height: 30px;
    background: grey ;
    border-radius: 50%;
}

.install-app img {
    position: relative;
    top: 10px;
    right: 4px;
}

.install-icon {
    width: 25px;
    height: 25px;
    background: none;
}

.install-app li {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    margin-left: -10px;
    width: 80%;   
}

.install-app li:hover {
    opacity: 1;
    transition: .4s;
}

#install-app-hr {
    margin-left: -10px;
    width: 90%;
    opacity: .5;
}
/* End of left menu layout */


/* Main feed layout */
/* Header layout within the main feed grid */
.header {
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px;

    background-color: #080c14; 
}

.button{
    background-color: rgba(0, 0, 0, .6);
    height: 15px;
    width: 15px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 50px 50px 100px;
    margin: 10px 20px;
}

button {
    border-radius: 25px;
    width: 200px;
    /* margin-left: 900px; */
    
   
    cursor: pointer;
    background-color: transparent;
    border: solid white;
    color: white;
}

button:hover {
    border: solid rgba(255, 255, 255, .8);
}

.inner-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(auto-fit, 360px);
    margin-top: 50px;
    
}

.music-container img {
   object-fit: cover;
   max-width: 100%;
}

.music-container {
    background-color:  #181818;
    border-radius: 20px;
    display: grid;
    place-items: center;
    grid-template-rows: 250px 40px 40px; 
    margin-left: 20px; 
}
/* End of main feed layout */


.main-feed-heading h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0px 0 20px;
    display: block;
}

.main-feed-nav {
    margin-top: 60px;
    display: grid;
    place-items: center;
}

.main-feed-nav li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    opacity: .5; 
}

.main-feed-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-feed-nav li:hover {
    opacity: 1;
    transition: .4s;
    border-bottom: 2px solid green;
}

.music-container h3,
.music-container h4 {
    margin-top: -50px;
}

.music-container h4 {
    opacity: .5;
    font-weight: 400;
}

/* How I got the play button to display on hover */
 .fa-circle-play {
    position: relative;
    float: right;
    margin-top: -150px;
    margin-right: -120px;
    color: transparent;
}

 .fa-circle-play:hover  {
    position: relative;
    float: right;
    margin-top: -150px;
    margin-right: -120px;
    color: #1ed760;
    visibility: visible;
    transition: .2s;
}

#podcasts h2 {
    display: block;
}
